.title-with-lines {
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
        width: 50px;
        height: 4px;
        /* background-color: #a50203; */
        background: #1e5daa;
    }

    .text {
        font-size: 36px;
        margin: 0 24px;
        white-space: nowrap;
        font-weight: 700;
        color: #111;
    }
}