.promiseBookItem {
    line-height: 24px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #333;
}


.agreementContainerBtn {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}