/* OrganizationPage.css */
.organization-page {
  /* background-color: rgb(226, 205, 188); */
  background: linear-gradient(0deg, #44acc1, rgb(220, 235, 191, 0.3));
  /* 红色背景 */
  color: white;
  /* 文字颜色 */
  padding: 40px 20px;

}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.organization-column {
  padding: 0 20px;
  position: relative;
  width: 296px;
}

.organization-columnOne {
  padding: 0 20px 0 80px;
  position: relative;
  width: 296px;
}

.organization-item {
  margin-bottom: 30px;
}

.item-title {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.item-content {
  padding-left: 0px;
}

.content-text {
  margin: 0 0 8px 0;
  font-size: 12px;
  line-height: 18px;
  color: #111;
}

/* 联系电话 */
.contact-info {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
}

/* 响应式调整 */
@media (max-width: 992px) {
  .organization-column {
    padding: 0 15px;
  }

  .organization-item {
    margin-bottom: 16px;
  }

  .item-title {
    font-size: 16px;
    color: #111;
  }

  .content-text {
    font-size: 14px;
    color: #111;
  }

  .contact-info {
    margin-top: 30px;
    font-size: 14px;

  }

  .footer-container {
    flex-direction: column;
  }

  .organization-columnOne {
    padding: 0 20px;
    position: relative;
    width: 296px;
  }

}